[Unit]
Description=sway
After=graphical.target
ConditionKernelCommandLine=!sway=0
Requires=graphical.target

[Service]
User=allanin
Environment=XDG_RUNTIME_DIR=/tmp/111-runtime-dir
Environment=XDG_DATA_DIRS=/usr/local/share:/usr/share
Environment=XDG_CONFIG_DIRS=/etc/xdg
Environment=XKB_DEFAULT_LAYOUT=de
Environment=_JAVA_AWT_WM_NONREPARENTING=1
ExecStart=/usr/bin/sway
KillMode=process
TimeoutStopSec=10
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=sway.target
